<section id="about">
    <h1>SAT<b>R</b>DAY</h1>
    <p>SatRDays are community-led, regional conferences to support collaboration, networking and innovation within the R community. <a href = "https://www.meetup.com/BelgradeR/"><b>BelgradeR User Group<b></a> collaborates with R-powered data businesses from Serbia and beyond to provide a fantastic day of R learning, networking and workshops.</p>
    <p>satRday Belgrade 2018 will be held on Saturday October 27th 2018 at Museum of Science and Technology in Belgrade.</p>
</section>
