<section id="callforpapers">
    <h2>Call for Papers</h2>
    <!--<p>Information to be announced soon.</p>-->
    <div class="row">
        <div class="col-sm-12">
            <p>Please submit form <a href="https://sessionize.com/satrday-belgrade/" target="_blank">here</a> to be our speaker.</p>
        </div>
    </div>
<!--
    <p>Presentation proposals for sat<b>R</b>day Belgrade are now closed. Thank you for all your submissions. Start thinking about topics sat<b>R</b>day 2019 :) </p>
-->
    </section>
