<section id="callforpapers">
    <h2>Call for Papers</h2>
    <p>Information to be announced soon.</p>
    <div class="row">
        <div class="col-sm-12">
            <p><a href="https://sessionize.com/satrday-belgrade/" target="_blank">Belgrade 2018 satRdays</a></p>
            <!--<iframe src="" name="cfp"></iframe>-->
            <!--<iframe src="" width="100%" height="450" name="cfp" frameborder="0" style="border:0" allowfullscreen></iframe>-->
        </div>
    </div>
<!--
    <p>Presentation proposals for sat<b>R</b>day Belgrade are now closed. Thank you for all your submissions. Start thinking about topics sat<b>R</b>day 2019 :) </p>
-->
    </section>
