<section id="importantdates">
    <h2>Important Dates</h2>
    <!--<p>Information to be announced soon.</p>-->
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Event</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Registration start</td>
                <td>July 31st 2018</td>
            </tr>
            <tr>
                <td>Registration end</td>
                <td>October 14th 2018</td>
            </tr>
            <tr>
                <td>Call for Papers start</td>
                <td>July 17th 2018</td>
            </tr>
            <tr>
                <td>Call for Papers end</td>
                <td>September 2nd 2018</td>
            </tr>
<!--             <tr> -->
<!--                 <td>Conference</td> -->
<!--                 <td>2018-06-23</td> -->
<!--             </tr> -->
        </tbody>
    </table>
</section>
